<html>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="userName" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="submit">Login</button>
</form>
{{/user}}
{{#user}}
Welcome, {{name}}!
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br><br>

<a href="/">All</a>
<a href="/?genre=Adventure">Adventure</a>
<a href="/?genre=RTS">RTS</a>
<a href="/?genre=RPG">RPG</a>
<a href="/?genre=FPS">FPS</a>

<br><br>

<form action="/add-game" method="post">
    <input type="text" placeholder="Game name" name="gameName"/>
    <select name="gameGenre">
        <option selected disabled>Genre</option>
        <option value="Adventure">Adventure</option>
        <option value="RPG">RPG</option>
        <option value="RTS">RTS</option>
        <option value="FPS">FPS</option>
    </select>
    <select name="gamePlatform">
        <option selected disabled>Platform</option>
        <option value="PC">PC</option>
        <option value="Xbox">Xbox</option>
        <option value="PS4">PS4</option>
        <option value="Wii U">Wii U</option>
    <input type="number" placeholder="Release Year" name="gameYear"/>
    <button type="submit">Add Game</button>
</form>


<ol>
    {{#games}}
    <li>{{name}} {{platform}} {{releaseYear}} {{genre}}</li>
    {{/games}}
    {{/user}}
</ol>
</body>
</html>